
body{
  min-height: 100vh;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
}

footer{
  align-self: flex-end;
  background-color: :rgba(120,120,120, .5);
  line-height: 3;
  text-align: center;
  width: 100%;
}
nav{


}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: #C0392B;*/
	background-color: #a2b8ff;
    overflow-x: hidden;
    /*transition: 0.5s;*/
    padding-top: 60px;
	font-size: 14px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main{
	margin-left: 250px;
}

.nav-item{
	padding-left: 200px
}

#development {
padding-top:50px;
height:380px;
color: #fff;
background-color: #1E88E5;
}

#component{
padding-top:50px;
height:440px;
color: #fff;
background-color: #B3CCE6;
}

#implementation{
padding-top:50px;
height:460px;
color: #fff;
background-color: #006600;
}

#analysis{
padding-top:50px;
height:460px;
color: #fff;
background-color: #4d0099;
}

.img1
{
	float: left;
	max-width:100%;
	height:auto;
	border-radius: 8px;
	padding-right: 20px;
}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

.p1
{

	font-family: 'Lato', sans-serif;
	font-size: 18px;
	text-align: justify;
	text-justify: inter-word;

}

.a1 a:link
{
	font-weight: bold;
	color: white;
	background-color: teal;
	width: 120px;
	text-decoration:underline;
}

.a1 a:visited
{
	font-weight:bold;
	color:white;
	background-color:purple;
	width:120px;
	text-decoration:underline;
}


/*  Botones header index */
.button {
    background-color: #AED6F1;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 1px;
    cursor: pointer;
}


.button1 {
	border-radius: 15px;
}

a:hover {
	cursor:pointer;
}
#main-navbar{
	justify-content: initial;
}

#nav2{

  padding-left: 150px;
}
/*  Slider index Imagenes que se mueve */

.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 300%;

	animation: cambio 20s infinite alternate linear;
}

.slider li{
	width: 100%;
	list-style: none;
}
.slider img{
	width: 100%;
}
