/*Sytles de About us*/


img.img_size{
	width: 200px;
	height: 200px;
	background-color: red;


}

#about{
	background-color: #94acff;
	padding: 80px;

}

#pfoot{
	background-color: #94acff;
	padding: 50px;
	text-align: center;

}

h1{

	text-align: center;
}


table{
	margin: auto;
	text-align: center;


}
td{
	height: auto;
	width: 150px;
	padding: 20px;
	border-right: dotted;
}






/* seccion contacts */

section#contact {
    background-color: #C0392B;
    background-position: center;
}
section {
    padding: 30px 0PX;
}
section#contact .section-heading {
    color: black;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 10px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Lato" ;
    text-transform: uppercase;
    font-weight: 700;
    color: grey;
}
.gellary_bg_none img{
	width: 100%;
	height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Lato";
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Lato";
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact :-ms-input-placeholder {
    font-family: "Lato";
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_our_company{
    text-align: center;
}
.about_our_company h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: "";
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}
