/*Stylesheet for courses.html*/
#header-section{
	background-color:#2E86C1   ;
	color:#fff;
	height:30px;
}

#main-navbar{
	justify-content: initial;
}

/*  ELEMENTOS DE LA GALERIA DE IMAGENES */

.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 300%;

	animation: cambio 20s infinite alternate linear;
}

.slider li{
	width: 100%;
	list-style: none;
}
.slider img{
	width: 100%;
}

@keyframes cambio {
		0% {margin-left: 0;}
		20% {margin-left: 0;}

		25% {margin-left: -100%;}
		55% {margin-left: -100%;}

		60% {margin-left: -200%;}
		70% {margin-left: -200%;}

		75% {margin-left: -200%;}
		100% {margin-left: -200%;}
}

#courses{
	padding-left: 180px;
	padding-right: 180px;
	padding-top: 30px;
}

#courses ul{
	list-style-type: none;
}

#courses li{

    float: left;
}

#Table{
	padding-left: 100px;
	padding-right: 180px;
	padding-top: 30px;

}
/*seccion */

ul ul{

  margin-left: 5px;
}

tfoot {
    background-color: #cccccc;
}

tfoot tr td{
    height: 26px;
}
th {
  text-align: center;
}

/*Estas dos son de la tabla de archivos(la de abjo) */
.Lista{

width: 1050px;
margin: 0 auto 0 auto;

}

.Lista tbody tr:nth-of-type(even) {
  background-color: #eeeeee;
}
/*Estas dos son de la tabla de archivos (la de arriba) */
blockquote.quote {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  background-image: url(imagenes/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
}

blockquote.quote span {
    display: block;
    background-image: url(imagenes/closequote1.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica;
    font-size: 14px;
}

.gtxnegro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    background-color: #E6E6E6;
}

.aoscuro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF; background-color: #336699;
    font-weight: bold;
}

.aclaro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; color: #FFFFFF;
    background-color: #6699CC;
    font-weight: bold
}

.modulo {
    text-align: center;
    font-style: italic;
    width: 100px;
}

.Presentacion {
    text-align: center;
    width: 150px;
}

.asueto {
    font-weight: bold;
    text-align: center;
}

.Archivos{
width: 400px;


}

.bankholiday {
  font-weight: bold;
  color: #FF0000;
}

a.last_link{

color: #FFFFFF;
}

.presentation_order{

  width: 250px;
  text-align: center;
}

.pres_ord_row{

  line-height: 0px;
}

.hour_cell{
  text-align: center;
}

.number_cell{
  text-align: center;
}
